<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-3.0.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
    http://www.springframework.org/schema/jdbc   
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
    
		<!-- accessory附件上传 -->
	<bean name="accessory" class="com.klspta.model.accessory.AccessoryUtil" scope="prototype"/>
	<!-- 文书管理 -->
	<bean name="weboffice" class="com.klspta.model.webOffice.DynamicTreeOperation" scope="prototype"/>
    
    
    <!--获取map配置信息-->
    <bean name="mapconfig" class="com.klspta.model.mapconfig.MapConfig" scope="prototype"/>
	
    <bean name="parseText" class="com.klspta.model.impText.ParseText" scope="prototype"/>
    
	<!-- 项目查询Action -->
	<bean name="mapFunctionAC" class="com.klspta.model.giscomponents.util.MapFunctionAC" scope="prototype"/>
	
	<!-- PDA状态管理 -->
	<bean name="shtcDataOperationAC" class="com.klspta.model.giscomponents.shtc.ShtcDataOperationAC" scope="prototype"/>
	
	
	<!-- 地图管理 -->
	<bean name="mapAuthorOperation" class="com.klspta.model.mapconfig.MapAuthorOperation" scope="prototype"/>
	
	<!--外业任务总入口-->
    <bean name="gpslocation" class="com.klspta.model.wyrw.GpsLocation" scope="prototype"/> 
	<!-- anychart -->
		<!--外业任务总入口-->
    <bean name="wyrwmanager" class="com.klspta.model.wyrw.WyrwManager" scope="prototype"/> 
   	<!-- 坐标转换方法 -->
    <bean name="change84To80" class="com.klspta.model.changeCoords.ChangeCoords" scope="prototype"/>
    
	<!-- anychart -->
    <bean name="anyChart" class="com.klspta.model.report.api.AnyChartDataSource" scope="prototype"/>
	<!-- Report -->
    <bean name="reportDataSource" class="com.klspta.model.report.api.ReportDataSource" scope="prototype"/>
	<!-- 指挥中心 实时监控 -->
	<bean name="pdaStatusAC" class="com.klspta.model.giscomponents.pdastatus.PdaStatusAC" scope="prototype"/>
	<bean name="parseShapefile" class="com.klspta.model.parseShapefile.ParseShapefile" scope="prototype"/>
	<!--下载专区-->
	<bean name="delRecord" class="com.klspta.model.download.DelRecord" scope="prototype"/>
	<bean name="saveForm" class="com.klspta.model.download.SaveFormAC" scope="prototype"/>
	<bean name="accessac" class="com.klspta.model.download.AccessoryAC" scope="prototype"/>
	<!-- 车载GPS坐标接收socket -->
	<bean name="sendCarPosition" class="com.klspta.model.giscomponents.carMonitor.SendCarPosition" lazy-init="false"/>
		<!-- 行政区划入口 -->
	<bean name="xzqh" class="com.klspta.model.xzqh.Xzqh" />
	<!-- 定制查询 -->
	<bean name="queryAction" class="com.klspta.model.customQuery.QueryAction" scope="prototype"/>
	
	<!-- 线索办理日志 -->
	<bean name="disposelog" class="com.klspta.model.signlog.SignlogOperation" scope="prototype"/>
	
	<!-- 号码归属地查询 -->
	<bean name="mobileLocation" class="com.klspta.model.mobilelocation.MobileLocation" scope="prototype"/>
	

	<!-- 根据yw_guid获取所有文件 -->
	<bean name="getFilesByYwguid" class="com.klspta.model.accessory.AccessoryUtil" scope="prototype"/>
		  <!-- 报表 -->
    <bean name="reportManage" class="com.klspta.model.report.ReportManage" scope="prototype"/>	
</beans>   