
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}

.clearfloat{height:0;font-size:1px;clear:both;line-height:0;}

#container{ width:100%;  text-align:left; margin:0 auto; }
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:underline;}
DIV.selectbox-wrapper {
	BORDER-RIGHT: #b7d1eb 1px solid; BORDER-TOP: #b7d1eb 0px solid; MARGIN-TOP: -3px; BORDER-LEFT: #b7d1eb 1px solid; WIDTH: 82px; BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
DIV.selectbox-wrapper UL LI.selected {BACKGROUND-COLOR: #e0ecf7;}
DIV.selectbox-wrapper UL LI.current {
	COLOR: #fff; BACKGROUND-COLOR: #36c
}
DIV.selectbox-wrapper UL LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 57px; CURSOR: pointer; LINE-HEIGHT: 20px; PADDING-TOP: 3px
}
.selectbox { border:none;  DISPLAY: block; padding-left:4px; width: 82px; CURSOR: pointer; padding-top:5px; HEIGHT: 19px; background:url(../images/bg01.gif) no-repeat;}
.btn{ float:left; display:inline; margin-left:8px; margin-top:2px;}
