@CHARSET "UTF-8";
.titles1{
			 HEIGHT: 28px;
			 width:650px;
			 FONT-WEIGHT: bold;
			 FONT-SIZE: 22px; 
			 FONT-FAMILY: 宋体
		}
.row1{
			 HEIGHT:30px;
	  }
.width1{
			width:120px;
	   }
#bodyfont1{
			 FONT-SIZE: 14px; 
			 FONT-FAMILY: 宋体
	   }
#tablestyle1{
			 cellspacing:0;
			 cellpadding:0;
			 border:1;
			 bordercolor:#000000;
			 bgcolor:#FFFFFF;
             bordercolor:#000000;
             width:600 px
             
			 
	   }
	   		   					