@CHARSET "utf-8";


#menu0_cm
{
padding:0 0 0 10px;
color:#444444;
font-size:12px;
display:block;
}
#menu0_cm span
{
display:block;
float:left;	
padding-top:10px;
text-align:center;
background:url(../images/top/bc_w.gif) ;
width:74px;
height:30px;
cursor:pointer;
font-weight:bold;
}
/*一级菜单*/
.menuLeft
{
	height:600px;
	border:1px soild black;
	background:url(../images/left/menu_bg2.gif);
		
	-moz-user-select: none;
    -khtml-user-select: none;
	user-select: none;
		
}

.menuDiv_1
{
	cursor:pointer;
}

.menu_1
{	
	
	height:30px;
	width:250px;
	color:#0C4B8E;
	background:url(../images/left/menubg.jpg);	
}
.img_1
{
	vertical-align:cetner;
	width:170px;
	height:25px;
	margin-left:10px;
	margin-top:3px;
	display:block;
	float:left;
	
}

.worldStyle_1
{	
	font-family:仿宋;
	font-size:13px;
	font-weight:900;
	display:block;
	margin:0;
	height:30px;
	line-height:30px;
	letter-spacing:1px;
	padding:0 0 0 10px;;
	filter:Glow(Color=#FFFFFF, Strength=2);
}
.selectImg_1
{
	width:10px;
	height:10px;
	margin-top:11px;
	margin-left:11px;
	display:none;
	
}

/*二 三级菜单*/
.menuDiv_2,.menuDiv_3
{
	font-size:12px;
	color:#2C2B29;
	display:none;

}
.menu_2
{

	border-bottom:1px solid #D9D9D9;
	padding:5px 10px 0 30px;
	height:20px;
}
.menu_3
{
	border-bottom:1px solid #D9D9D9;
	padding:5px 10px 0 60px;
	height:20px;
}
.img_2,.img_3
{
	padding:0;
	margin-right:12px;
}
.selectImg_2,.selectImg_3
{
	width:10px;
	height:10px;
	float:right;
	margin-top:3px;
	display:none;
}


